
body {
  background-color: #0b0b0b;
}

.container {
  display: flex;
  height: 100vh;
}

/* LEFT SIDE – IMAGE */
.left-panel {
  flex: 1;
  background: 
    linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
    url("gym.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 40px;
}

.left-panel h1 {
  font-size: 32px;
  font-weight: 600;
  color: #d4af37;
}

.left-panel p {
  margin-top: 12px;
  font-size: 16px;
  max-width: 400px;
}

/* RIGHT SIDE – FORM AREA */
.right-panel {
  flex: 1;
  background-color: #f9fafb;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

/* FORM CARD */
.form-card {
  background-color: #ffffff;
  width: 420px;
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

/* HEADINGS */
.form-card h2 {
  font-size: 24px;
  margin-bottom: 6px;
  color: #111827;
}

.form-card span {
  display: block;
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 24px;
}





.form-group {
  margin-bottom: 16px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  color: #111827;
}

input, select {
  width: 100%;
  padding: 12px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  font-size: 14px;
}

input:focus, select:focus {
  outline: none;
  border-color: #d4af37;
}




button {
  width: 100%;
  padding: 14px;
  background-color: #d4af37;
  color: #0b0b0b;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  opacity: 0.9;
}
